body{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}
.case-studies-nav-container {
  position: fixed;
  background-color: #89714D;
  top: 3vh;
  left: 3vh;
  height: 8vh;
  width: 8vh;
}
.case-studies-nav {
  position: absolute;
  height: 8vh;
  width: 8vh;
  background-color: #89714D;
}

.case-studies-footer{
  position: absolute;
  width: 100vw;
  height: 5vh;
  margin-top:0;
  background-color: #1f1f1f;
  left: 0;
}

.case-studies-header{
  height: 100vh;
  width: 100vw;
}
 #case-files{
   height: 80vh;
 }
