body {
  margin: 0 0 0 0;
}

.case-studies-main-container{
  position: absolute;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.cs-main-content-middle{
  margin: 0 0 0 0;
  position: absolute;
  top: 98vh;
  overflow-x: hidden;
}
.case-studies-main-column{
  position: relative;
height: 48vh;
  width: 100%;
}
.case-study-image{
  position: relative;
  height: 100%;
  width: 100%;
}
.case-studies-nav-container {
  position: fixed;
  top: 3vh;
  left: 3vh;
  height: 8vh;
  width: 8vh;
  z-index: 12;
}
.case-studies-nav {
  position: absolute;
  height: 8vh;
  width: 8vh;
}
.case-studies-header{
  top: 0px!important;
  left: 0px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 0;
}
.case-studies-video{
  margin: 0 0 0 0;
  position: relative;
  height: auto;
   width: 100%;
  z-index: 2;
}
.case-studies-title-container{
  position: absolute;
  overflow: hidden;
  height: 393px;
  width: 64%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-image: url(http://www.wearetopsecret.com/images/spritesheet-case-studies.png);
  background-size: inherit;
  background-position: bottom;
  background-position-x: -8252px;
  background-position-y: -23%;
}
 .sound-icon-container{
   z-index: 10;
 }