section {
  position: relative;
}
.small {
  width: 90px;
  height: 35px;
}
.form-button {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
}
span{
  position: absolute;
  right: 0;
  top: 15px;
  font-weight: 100;
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.5;
}
.goldenLine:hover:after {
		margin-top: 1.105em;
}
