// Table of Contents:
// ~~~~~~~~~~~~~~~~~~~
// 1.) Variables
// 2.) Mixins
// 3.) Base Styles
// 4.) Typography (links)
// 5.) Scaffolding
// 6.) Helpers
// 7.) Grid
// 8.) Components
// 9.) Pages

// 1.) Variables:
// ~~~~~~~~~~~~~~~

/* Containers */
$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px;
$full: 100%;

// Breakpoints
$mobile: $x-small;
$desktop: $medium;

/* Colors */

/* Typography */

@font-face {
	font-family: 'built-titling';
	src: url('./built-titling.light.ttf');
}

/* Components */

// 2.) Mixins:
// ~~~~~~~~~~~~

/* Breakpoints */

// Small breakpoint
@mixin small-breakpoint {
	@media (min-width: #{$mobile}) {
		@content;
	}
}

// Large breakpoint
@mixin large-breakpoint {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

// 3.) Base Styles:
// ~~~~~~~~~~~~~~~~~

//Reset Border Box:

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// 4.) Typography:
// ~~~~~~~~~~~~~~~~

/* Font */

// Headings

// Body Font

// Links:
a {
  cursor: pointer;
	text-decoration: none;
}

.goldenLinkLine {
	width: 100%;
	border-top: 1px solid #88714D;
	position: relative;
	top: 50%;
	height: 0;
	transition: 1.0s;
}
/* Strikethrough */

.goldenLine {
		display: inline-block;
		position: relative;
		z-index: 200;
}

.goldenLine:hover:after {
		content: '';
		position: absolute;
		display: block;
		// width: 100%;
		height: 2px;
		// margin-top: -.7em;
		background: #88714D;
		transform-origin: center left;
		animation: goldenLine 0.4s cubic-bezier(0, 0, .1, 1) 1;
		transition: transform 0.5s cubic-bezier(0, 0, .1, 1);
		animation-fill-mode: forwards;
}

/* Little hover effect */
// .goldenLine:before {
// 	transform:scaleX(0);
// }

.goldenLine:after {
		transform: scaleX(0);
		transform-origin: center right;
}

/* Keyframes for initial animation */

@keyframes goldenLine {
		from {
				transform: scaleX(0);
		}
		to {
				transform: scaleX(.95);
		}
}
.triangle {
	color: #88714D;
	font-size: 0.65em;
	line-height: .95em;
	vertical-align: middle;
}
// 5.) Scaffolding:
// ~~~~~~~~~~~~~~~~~

// 6.) Helpers:
// ~~~~~~~~~~~~~

.responsive-img {
	width: 100%;
}

.bordered {
	border: solid 2px black;
}

.centered {
	justify-content: center;
}

.text-centered {
	text-align: center;
}

.background-img-fix {
	background-position: center;
  background-repeat: no-repeat;
}

.background-img-fix2 {
	zoom: 45%;
	background-position-x: -393px;
}

.fixed-height {
	height: 275px;
}

.half-zoom {
	zoom: 50%;
}

// 7.) Grid:
// ~~~~~~~~~~

//NOTE If you just want evenly sized columns, just keep adding columns in a row.

.container {
	max-width: $full;
};
.x-small-container {
	max-width: $x-small;
};
.small-container {
	max-width: $small;
};
.medium-container {
	max-width: $medium;
};
.large-container {
	max-width: $large;
};

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.one-third-column,
.two-thirds-column,
.one-quarter-column,
.one-half-column,
.three-quarters-column, {
	flex: 100%;
	// height: 250px;
}

.column {
	flex: 100%;
}

// Responsive Grid Media Query:
@media screen and (min-width: 800px) {

	//NOTE For evenly sized columns use this:
	.column {
	  flex: 1;
		height: auto;
	}

	//NOTE For unevenly sized columns, use these

	.one-third-column {
		flex-basis: calc(100% / 3);
		height: auto;
	}

	.two-thirds-column {
		flex-basis: calc(100% * (2/3));
		height: auto;
	}

	.one-quarter-column {
		flex-basis: calc(100% / 4);
		height: auto;
	}

	.one-half-column {
		flex-basis: calc(100% / 2);
		height: auto;
	}

	.three-quarters-column {
		flex-basis: calc(100% * (3/4));
		height: auto;
	}
}

// 8.) Components:
// ~~~~~~~~~~~~~~~~

/* Buttons */
button {
  background-color: transparent;
	outline: none;
	border: none;
  font-family: 'built-titling';
	font-weight: 100;
	font-size: 23px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 4px;
	margin: 0;
}
/* Sticky-Nav */
//
$stickyNavHeight: 40px;

.sticky-nav {
	background-color: white;
	height: $stickyNavHeight;
	ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

.fix {
  top: 0px;
  position: fixed;
	background-color: white;
	width: 100%;
	height: $stickyNavHeight;
}

.jump-fix {
	height: $stickyNavHeight;
}

// 9.) Pages:
// ~~~~~~~~~~

/*~~~~~~~~~~~~~~~ Home ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ Case Studies ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ Work ~~~~~~~~~~~~~~~*/

//Banner
.work-banner {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	.work-banner-video-container {
		height: 100%;
		width: 100%;
		.work-banner-video {
			height: 100%;
			width: 100%;
		}
	}
	.work-banner-title-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		height: 350px;
		width: 450px;
		overflow: visible;
	}
}

/*~~~~~~~~~~~~~~~ About ~~~~~~~~~~~~~~~*/

// General Page Rules

.about {
	background-color: black;

	h1 {
		font-family: 'built-titling';
		color: #88714D;
		font-size: 90px;
		line-height: 0px;
		font-weight: 100;
		letter-spacing: 0.25em;
	}
	h2 {
		font-family: 'Crimson Text', serif;
		color: #e8e7e7;
		font-size: 25px;
		line-height: 34px;
		font-weight: 100;
		-webkit-font-smoothing: antialiased;
	}
	p {
		font-family: 'Crimson Text', serif;
		color: #cecece;
		font-size: 17px;
		line-height: 35px;
	}
	a {
		font-family: 'built-titling';
		font-weight: 800;
		color: #d7d7d7;
		text-decoration: none;
		font-size: 1.4em;
    letter-spacing: 0.1em;
	}
}

// Banner
.about-banner {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	.about-banner-video-container{
		height: 100%;
		width: 100%;
		.banner-video{
			height: 100%;
			width: 100%;
		}
	}
	.banner-title-img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		height: 350px;
		width: 450px;
		overflow: visible;
	}
}

// What We Do
.what-we-do {
	position: relative;
	background: center center no-repeat url(http://www.wearetopsecret.com/images/about/about_article_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	padding: 265px 190.5px;
}

// Clients Served
.clients-served {
	position: relative;
	background: #000 url(http://www.wearetopsecret.com/images/glass-body.jpg);
  background-repeat: repeat;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	display: flex;
	flex-direction: column;
	.clients-served-title {
		width: 100%;
		display: flex;
		justify-content: center;
		h1 {
			padding: 80px 0 60px 0;
			font-size: 50px;
			letter-spacing: 14px;
			line-height: 0px;
		}
	}
	.clients-served-grid {
		display: flex;
		justify-content: center;
		margin-left: 8%;
		margin-right: 8%;
		margin-bottom: 10%;
		.clients-served-column{
			height: auto;
			margin-bottom: 5%;
			img {
				height: 80px;
				// width: 194px;
				// margin: 15.5px 93.5px;
			}
		}
	}
}

// clients-served small media query:
@media screen
	and (max-width: 799px){
	.clients-served {
		.row {
			width: 100%;
		}
		.clients-served-column {
			flex-basis: 100%;
		}
	}
}

// clients-served medium media query:
@media screen
	and (min-width: 800px)
	and (max-width: 999px){
	.clients-served {
		.row {
			width: 100%;
		}
		.clients-served-column {
			flex-basis: 50%;
		}
	}
}

// clients-served large media query:
@media screen
	and (min-width: 1000px){
	.clients-served {
		.clients-served-column {
			flex-basis: 25%;
		}
	}
}

// Who We Are
.who-we-are {
	position: relative;
	background: #000 url(http://www.wearetopsecret.com/images/about/grain.jpg);
	background-repeat: repeat;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	padding: 265px 190.5px;
	ul {
		padding-left: 0;
		list-style-type: none;
		width: 25%;
		flex-basis: 25%;
		li a {
			font-family: 'Built-titling';
			color: grey;
			text-decoration: none;
			font-size: 2em;
			letter-spacing: 5px;
			line-height: 67px;
		}
	}
	.bio {
		margin-top: 1.5%;
		width: 25%;
		height: 100%;
		h1 {
			font-size: 2em;
		}
		h2 {
			font-family: 'Built-titling';
			font-size: 2em;
			color: #88714D;
		}
	}
	.bio-pic {
		width: 50%;
		height: 100%;
		img {
			height: 100%;
			width: 100%;
			right: 0;
		}
	}
}

// The Shop
.the-shop {
	position: relative;
	background: center center no-repeat url(http://www.wearetopsecret.com/images/about/shop-bg_02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	padding: 265px 190.5px;
}
// Slider

.slider-controls {
	display: flex;
	justify-content: space-between;
	.slider-buttons {
		display: inline-flex;
		.slick-dots {
			display: inline-flex;
		}
	}
}

// Manifesto
.manifesto {
	position: relative;
	background: center center no-repeat url(http://www.wearetopsecret.com/images/about/mantra_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	padding: 265px 190.5px;
	p {
		font-size: 2em;
		line-height: 2em;
	}
	.about-footer {
		margin-left: -196px;

	}
}

/*~~~~~~~~~~~~~~~ Capabilities ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ Connect ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ 404 ~~~~~~~~~~~~~~~*/
