.home-main-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}
.home-main-wrapper{
  position: relative;
  margin: 0 0 0 0;
}

//This is the styling for the fluid effect

#fluid_wrapper{
  position: static;
  opacity: 1;
  z-index: -10;
}
#overlay{
  z-index: -10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
}
#fluid_container{
  z-index: -11;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
}


//Styling for the hamburger menu
#hamburger_menu {
  height: 100%;
  width: 100%;
  cursor: pointer
}
@media (max-width: 667px) {
   #hamburger_menu {
    width:57px;
  }
}
.gold_fill {
  fill: #89714D
}

.gray_fill {
  fill: #B7B7B8
}
 #hamburger_menu #box_tight #hamburger_menu #box rect {
  fill: #89714D
}
 #hamburger_menu {
  width: 67px;
  cursor: pointer
}
#hamburger_menu #box_tight #hamburger_menu #box rect {
  fill: #89714D
}
//hamburger sections

.home-nav-container {
  position: fixed;
  top: 3vh;
  left: 3vh;
}
.home-nav {
  position: absolute;
}
//end of hamburger menu style



.sound-icon-container{
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  background-color: #b7b7b8;
  height: 2vh;
  width: 2vh;
}
.sound-icon-container:hover {
  background-color: #89714D;
}
#home-main-header{
  margin-top: 37vh;
}


//Main Title
.the-sprite{
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.sprite-container{
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  height: 149px;
  width: 767px;
}
#title-sprite{
  position: relative;
  zoom: 1000%;
  height: 149px;
  width: 767px;
  top:-879%;
  left: -303%;
}
#view-reel{
  cursor: pointer;
  font-weight: 400;
  font-size: x-large;
  color: white;
  font-family: 'built-titling', sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 54%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 5%;
  letter-spacing: 4px;
}
#view-strike-thru{
  position: absolute;
  top: 570px;
  left: 902px;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 0;
  background-color: #88714d;
  transition: .25s ease;
}
#view-reel:hover + #view-strike-thru{
  width: 108px;
}
#view-reel:after {
  content: url('http://www.wearetopsecret.com/images/arrow-tip-forward.png');
  position: absolute;
  top: -5px;
  left: 93px;
}


#home-footer {
  background-color: #1f1f1f;
}
#home-bottom-three{
  background-color: transparent;
  color: white;
  height: 25vh;
}
.home-bottom-three-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
}
.bottom-three{
  border: 1px solid white;
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right:auto;
}

//Case studies
.case-studies-container{
  position: relative;
  top: 100vh;
  height: 43vh;
  width: 100vw;
  margin-left: 0;
}

#case-studies{
  position: absolute;
  height: 100%;
  width: 70vw;
  margin-left: 15vw;
  perspective: 1px;
  overflow: hidden;
}
#case-studies-parallax-holder{
  height: 100%;
  background-image: url('http://www.wearetopsecret.com/images/case-studies-home-page.jpg');
  //background-attachment: fixed;
  //background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
}
#case-studies-title{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -136%);
  color: #89714d;
  font-family: 'built-titling', sans-serif;
  text-transform: uppercase;
  font-size: 453%;
  letter-spacing: 20px;
  transition-duration: .5s;
}

.home-main-container{
  position: absolute;
  margin: 0 0 0 0;
}

.home-cs-hover-heading{
  opacity: 0;
  position: absolute;
  margin-top: 25px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: .5s;
}
.home-cs-hover-heading-top{
  width: 20%;
  height: 1px;
  background-color: #707070;
  margin-bottom: 10px;
}
.home-cs-hover-heading-main{
  text-transform: uppercase;
  font-family: 'Lora', serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
.home-cs-hover-heading-bottom{
  width: 20%;
  height: 1px;
  background-color: #707070;
  margin-top: 10px;
}

//this is for the little view case studies thing
#home-view-case-studies{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .25s ease;
  color: white;
  font-family: 'built-titling', sans-serif;
  width: 12%;
  font-size: x-large;
  letter-spacing: 2px;
}
#home-view-case-studies:after {
  content: url('http://www.wearetopsecret.com/images/arrow-tip-forward.png');
  position: absolute;
  top: -5px;
  left: 135px;
}
#home-view-strike-thru{
  position: absolute;
  top: 276px;
  left: 552px;
  height: 1px;
  width: 0;
  background-color: #88714d;
  transition: .25s ease;
}



//styling for all the hover animations on case studies
#case-studies:hover {
  cursor: pointer;
}
#case-studies:hover #case-studies-title{
  color: #272727;
}
#case-studies:hover .home-cs-hover-heading{
  opacity: 1;
  margin-top: 0;
}
#case-studies:hover #home-view-strike-thru{
  width: 157px;
}



//about sts container
.about-sts-container{
  position: relative;
  top: 100vh;
  width: 100vw;
  margin: 0 0 0 0;
  height: 50vh;
}
.about-sts{
  cursor: pointer;
  height: 51%;
  width: 20%;
  margin-top: 10%;
  margin-left: 40%;
}
#about-sts-title{
  font-size: 523%;
  letter-spacing: 20px;
  z-index: 2;
  left: 50%;
  top: 5%;
  transform: translate(-47%);
  position: absolute;
  color: #88714D;
  text-transform: uppercase;
  font-family: 'built-titling', sans-serif;
}
#triangle{
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
#redacted{
  z-index: 1;
  position: absolute;
  left: 55%;
  top: 20%;
}
//styling for the headings that fade in on hover
.fade-heading-top{
  color: #88714d;
  position: absolute;
  width: 100%;
  top: 25%;
  left: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  font-size: large;
  letter-spacing: 4px;
  opacity: 0;
  transition-duration: .5s;
}
  .fade-heading-top p{
      margin-left: 10px;
  }
.fade-heading-bottom{
  color: #88714d;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  font-size: large;
  letter-spacing: 4px;
  opacity: 0;
  transition-duration: .5s;
}
.about-us {
  color: white;
  font-family: 'built-titling', sans-serif;
  position: absolute;
  top: 44%;
  left: 50%;
  letter-spacing: 3px;
  transform: translate(-50%, -50%);
  font-size: x-large;
}
.about-us:after {
  content: url('http://www.wearetopsecret.com/images/arrow-tip-forward.png');
  position: absolute;
  top: 25%;
  left: 110%;
}
#who-we-are-strike{
  height: 1px;
  width: 0;
  background-color: #88714d;
  position: absolute;
  top: 49%;
  left: -25%;
  transition-duration: .25s;
}

.about-sts:hover #about-sts-title{
  color: #313131;
}
.about-sts:hover .fade-heading-top{
  opacity: 1;
  top: 23%;
  z-index: 2;
}
.about-sts:hover .fade-heading-bottom{
    opacity: 1;
    top: 28%;
  z-index: 2;
}
.about-sts:hover #who-we-are-strike{
  width: 129px;
}

//bottom three
.bottom-three-container{
  position: relative;
  top: 80vh;
  height: 50vh;
  width: 100vw;
  margin: 0 0 0 0;
  display: flex;
  align-content: center;
}
.home-bottom-three-wrapper{
  position: relative;
  margin-top: 12vh;
  width: 87vw;
  left: 50%;
  transform: translate(-50%);
}
.bottom-three{
  border: none;
  height: 40vh;
  width: 28vw;
  overflow: hidden;
}
.listen {
  position: absolute;
  height: 40vh;
  width: 28vw;
  background-color: white;
  opacity: 0;
  z-index: 10!important;
}
.bottom-three-title-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}
.bottom-three-title{
  font-size: 500%;
  letter-spacing: 15px;
  z-index: 3;
  left: 50%;
  top: 15%;
  transform: translate(-50%);
  position: absolute;
  color: #88714D;
  text-transform: uppercase;
  font-family: 'built-titling', sans-serif;
}
.bottom-three-titles{
  position: absolute;
  margin-top: 12vh;
  width: 87vw;
  height: 50vh;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bottom-three-title-wrapper{
  border: none;
  height: 40vh;
  width: 28vw;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
#work{
  position: relative;
 zoom: 80%;
  top: -25%;
  left: -13%;
}
#capabilities{
  position: relative;
  zoom: 80%;
  top: -25%;
  left: -13%;
}
#connect{
  position: relative;
  zoom: 80%;
  top: -25%;
  left: -13%;
}

//styling for the little strike thru headings within the bottom three
#view-thegoods-strike{
  position: absolute;
  background-color: #88714d;
  height: 1px;
  width: 0;
  top: 47%;
  left: -16%;
  transition-duration: .25s;
}
#view-offerings-strike{
  position: absolute;
  background-color: #88714d;
  height: 1px;
  width: 0;
  top: 47%;
  left: -16%;
  transition-duration: .25s;
}
#view-office-strike{
  position: absolute;
  background-color: #88714d;
  height: 1px;
  width: 0;
  top: 47%;
  left: -20%;
  transition-duration: .25s;
}

#work-hover-hack:hover #view-thegoods-strike{
  width: 150px;
}
#capabilities-hover-hack:hover #view-offerings-strike{
  width: 150px;
}
#connect-hover-hack:hover #view-office-strike{
  width: 118px;
}

#work-hover-hack:hover #work-three-title{
  color: #313131;
}
#capabilities-hover-hack:hover #capa-three-title{
  color: #313131;
}
#connect-hover-hack:hover #con-three-title{
  color: #313131;
}



//styling for the fade headings in the bottom three
.bthree-fade-heading{
  opacity: 0;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -479%);
  width: 140%;
  font-size: larger;
  letter-spacing: 2px;
  transition-duration: .25s;
}
.bthree-fade-div{
  height: 1px;
  background-color: #777777;
  width: 96%;
  left: -2%;
  position: absolute;
}
//hover animations
#work-hover-hack:hover #work-fade-heading{
  opacity: 1;
  top: 50%;
}
#capabilities-hover-hack:hover #capa-fade-heading{
  opacity: 1;
  top: 50%;
}
#connect-hover-hack:hover #con-fade-heading{
  opacity: 1;
  top: 50%;
}





//home footer
.home-footer-container{
  position: relative;
  top: 76vh;
  width: 100vw;
  margin-top: 10vh;
  height: 6vh;
  background-color: #1c1c1c;
}
