body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black ;
  overflow-x: hidden;
}


//This is the styling for the fluid effect

#fluid_wrapper{
  position: static;
  opacity: 1;
  z-index: -10;
}
#overlay{
  z-index: -10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
}
#fluid_container{
  z-index: -11;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
}


//Styling for the hamburger menu
#hamburger_menu {
  width: 67px;
  cursor: pointer
}
@media (max-width: 667px) {
   #hamburger_menu {
    width:57px;
  }
}
.gold_fill {
  fill: #89714D
}

.gray_fill {
  fill: #B7B7B8
}
 #hamburger_menu #box_tight #hamburger_menu #box rect {
  fill: #89714D
}
 #hamburger_menu {
  width: 67px;
  cursor: pointer
}
#hamburger_menu #box_tight #hamburger_menu #box rect {
  fill: #89714D
}
//hamburger sections

.home-nav-container {
  position: fixed;
  top: 3vh;
  left: 3vh;
}
.home-nav {
  position: absolute;
  //height: 8vh;
  //width: 8vh;
  //background-color: #89714D;
}
//end of hamburger menu style



.sound-icon-container{
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  background-color: #b7b7b8;
  height: 2vh;
  width: 2vh;
}
.sound-icon-container:hover {
  background-color: #89714D;
}
#home-main-header{
  margin-top: 37vh;
}


//Main Title
.the-sprite{
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.sprite-container{
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  height: 149px;
  width: 767px;
}
#title-sprite{
  position: relative;
  zoom: 1000%;
  height: 149px;
  width: 767px;
  top:-879%;
  left: -303%;
}

.home-footer-container{
  position: absolute;
  width: 100vw;
  height: 5vh;
  margin-top: 7vh;
  background-color: #1f1f1f;
  left: 0;
}

#home-footer {
  background-color: #1f1f1f;
}
#home-bottom-three{
  background-color: transparent;
  color: white;
  height: 25vh;
}
.home-bottom-three-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
}
.bottom-three{
  border: 1px solid white;
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right:auto;
}
#work{
  background-image: url('http://www.wearetopsecret.com/images/view-work-cta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#capabilities{
  background-image: url('http://www.wearetopsecret.com/images/new-landing/Capabilities.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#connect{
  background-image: url('http://www.wearetopsecret.com/images/join-team-cta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
