.home-main-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.home-main-wrapper{
  position: relative;
  margin: 0 0 0 0;
}

//This is the styling for the fluid effect

#fluid_wrapper{
  position: static;
  opacity: 1;
  z-index: -10;
}
#overlay{
  z-index: -10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
}
#fluid_container{
  z-index: -11;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
}


//Styling for the hamburger menu
#hamburger_menu {
  width: 67px;
  cursor: pointer
}
@media (max-width: 667px) {
   #hamburger_menu {
    width:57px;
  }
}
.gold_fill {
  fill: #89714D
}

.gray_fill {
  fill: #B7B7B8
}
 #hamburger_menu #box_tight #hamburger_menu #box rect {
  fill: #89714D
}
 #hamburger_menu {
  width: 67px;
  cursor: pointer
}
#hamburger_menu #box_tight #hamburger_menu #box rect {
  fill: #89714D
}
//hamburger sections

.home-nav-container {
  position: fixed;
  top: 3vh;
  left: 3vh;
}
.home-nav {
  position: absolute;
}
//end of hamburger menu style



.sound-icon-container{
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  background-color: #b7b7b8;
  height: 2vh;
  width: 2vh;
}
.sound-icon-container:hover {
  background-color: #89714D;
}
#home-main-header{
  margin-top: 37vh;
}


//Main Title
.the-sprite{
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.sprite-container{
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  height: 149px;
  width: 767px;
}
#title-sprite{
  position: relative;
  zoom: 1000%;
  height: 149px;
  width: 767px;
  top:-879%;
  left: -303%;
}

.home-footer-container{
  position: absolute;
  width: 100vw;
  height: 5vh;
  margin-top: 7vh;
  background-color: #1f1f1f;
  left: 0;
}

#home-footer {
  background-color: #1f1f1f;
}
#home-bottom-three{
  background-color: transparent;
  color: white;
  height: 25vh;
}
.home-bottom-three-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
}
.bottom-three{
  border: 1px solid white;
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right:auto;
}

//Case studies
.case-studies-container{
  position: relative;
  top: 100vh;
  height: 43vh;
  width: 100vw;
  margin-left: 0;
}

#case-studies{
  position: absolute;
  height: 100%;
  width: 70vw;
  margin-left: 15vw;
  perspective: 1px;
  overflow: hidden;
}
#case-studies-parallax-holder{
  height: 100%;
  background-image: url('http://www.wearetopsecret.com/images/case-studies-home-page.jpg');
  //background-attachment: fixed;
  //background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
}

.case-studies-title-container{
  z-index: 10;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#case-studies-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -136%);
  color: #89714d;
  font-family: 'built-titling', sans-serif;
  text-transform: uppercase;
  font-size: 453%;
  letter-spacing: 20px;
}

.home-main-container{
  position: absolute;
  margin: 0 0 0 0;
}

//about sts container
.about-sts-container{
  position: relative;
  top: 100vh;
  width: 100vw;
  margin: 0 0 0 0;
  height: 50vh;
}
.about-sts{
  margin-top: 15vh;
}
#about-sts-title{
  font-size: 523%;
  letter-spacing: 20px;
  z-index: 2;
  left: 50%;
  top: 5%;
  transform: translate(-47%);
  position: absolute;
  color: #88714D;
  text-transform: uppercase;
  font-family: 'built-titling', sans-serif;
}
#triangle{
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
#redacted{
  z-index: 1;
  position: absolute;
  left: 55%;
  top: 20%;
}

//bottom three
.bottom-three-container{
  position: relative;
  overflow: hidden;
  top: 80vh;
  height: 50vh;
  width: 100vw;
  margin: 0 0 0 0;
  display: flex;
  align-content: center;
}
.home-bottom-three-wrapper{
  position: relative;
  margin-top: 12vh;
  width: 87vw;
  left: 50%;
  transform: translate(-50%);
}
.bottom-three{
  border: none;
  height: 40vh;
  width: 28vw;
  overflow: hidden;
}
.bottom-three-title-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}
.bottom-three-title{
  font-size: 500%;
  letter-spacing: 15px;
  z-index: 3;
  left: 50%;
  top: 15%;
  transform: translate(-50%);
  position: absolute;
  color: #88714D;
  text-transform: uppercase;
  font-family: 'built-titling', sans-serif;
}
.bottom-three-titles{
  position: absolute;
  margin-top: 12vh;
  width: 87vw;
  height: 50vh;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bottom-three-title-wrapper{
  border: none;
  height: 40vh;
  width: 28vw;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
#work{
  position: relative;
 zoom: 80%;
  top: -25%;
  left: -13%;
}
#capabilities{
  position: relative;
  zoom: 80%;
  top: -25%;
  left: -13%;
}
#connect{
  position: relative;
  zoom: 80%;
  top: -25%;
  left: -13%;
}


//home footer
.home-footer-container{
  position: relative;
  top: 76vh;
  width: 100vw;
  margin-top: 10vh;
  height: 6vh;
  background-color: #1c1c1c;
}
