$gold:#88714D;
$padding:5%;
$margin:5%;
$textColor:#D1D1D1;

.capabilities-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #c0c0c0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.capabilities-banner {
  position: relative;
  top: 0;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url(https://dummyimage.com/1280x800/000/fff&text=Capabilities);
  background-repeat: no-repeat;
  background-size: cover;
}


.capabilities-body {
  height: 100vh;
  width: 100vw;
  padding: $padding;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(48,48,48);
  border: 1px solid $gold;

  div{
    width: 50%;
  }

  .sub-row {
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  span {

  }
  h1 {
  color: $gold;
  margin: $margin;
  }

  p {
    margin: $margin;
    color: $textColor;
  }

  a {
    text-decoration: none;
  }
}

/* background for parralax  */
.slant-left {
  background-color: white;
  height:400px;
  width: 400px;
  margin: -400px;
  position: left;
  background-image: url('./images/slant-left.png');
  background-size: contain;
  background-repeat: no-repeat;

  color: #fff;
}
.slant-right {
  background-image: url('./images/slant-right.png');
}
