$gold:#88714D;
$padding:5%;
$margin:5%;
$textColor:#777777;
$iconColor: #a1a0a0;
$cream: #E9E9E9;
$formWidth: 75%;
$formPadding: 12px 20px;
$formMargin: 8px 0;


.connect-container {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.fullscreen-bg {
  position: relative;
  overflow: hidden;
}

.connect-banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -262px 0 0 -393px;
}
.position-relative {
  position: relative;
}
.connect-block {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 1570px;
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-start;
  background-image: url('./images/map.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  div{
    // width: 95%;
    // padding: 22px;
  }

  .sub-row {
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  .icon {
    color: $iconColor;
  }
  h1 {
  color: $gold;
  margin: $margin;
  }
  h2 {
    font-family: 'built-titling';
    color: $gold;
    font-size: 46px;
    font-weight: 100;
    letter-spacing: 7.75px;
    margin: 20px 0 0 0;
  }
  h3 {
    font-family: 'Crimson Text', serif;
    color: $textColor;
    font-size: 32px;
    font-weight: 100;
    margin: 0;
  }
  p {
    font-family: 'Crimson Text', serif;
    color: $textColor;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.882;
    font-style: normal;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-family: 'built-titling';
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2.5px;
    color: $textColor;
    text-transform: uppercase;
  }

  hr {
    width: 30px;
    margin: 22px 0;
    color: $gold;
  }

  .left {
    width: 475px;
    height: 1570px;
    margin-left: 60px;
    background-color: $cream;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 4a9f56425553cbfec00e88d4a502db26d44ff27d
    div{
      width: 95%;
      padding: 22px;
    }
<<<<<<< HEAD
>>>>>>> 4a9f56425553cbfec00e88d4a502db26d44ff27d
=======
>>>>>>> 4a9f56425553cbfec00e88d4a502db26d44ff27d
    .super {
      .goldenLine:hover:after {
        margin-top: -0.7em;
        margin-left: -8px;
        width: 127px;
      }
      span{
        position: absolute;
        right: -20px;
        top: 3px;
        font-weight: 100;
        font-size: 10px;
        text-transform: uppercase;
        text-align: right;
        line-height: 1.5;
      }
    }
    .careers {
      .goldenLine:hover:after {
        margin-top: -1em;
        margin-left: -8px;
        width: 93px;
      }
      span{
        position: absolute;
        right: -20px;
        top: 10.5px;
        font-weight: 100;
        font-size: 10px;
        text-transform: uppercase;
        text-align: right;
        line-height: 1.5;
      }
    }
    .positions {
      a {
      color: $textColor;
      font-family: 'Crimson Text', serif;
      font-size: 14px;
      letter-spacing: 1.6px;
      transition: 0.2s;
    }
      a:hover {
        color: $gold;
      }
    }
    .socialMedia {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      div {
        padding: 0;
        text-align: left;
      }
    }
    .icon {
      width: 30px;
      a {
        color: $textColor;
        transition: 0.2s;
      }
      a:hover {
        color: $gold;
      }
    }
  }
  .right {
    width: 475px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  input {
    width: $formWidth;
    padding: $formPadding;
    margin: $formMargin;
    box-sizing: border-box;
  }
  textarea {
    width: $formWidth;
    height: 150px;
    padding: $formPadding;
    margin: $formMargin
  }
} /* end of connect-block section */
