$gold:#88714D;
$padding:5%;
$margin:5%;
$textColor:#777777;
$iconColor: #a1a0a0;
$cream: #E9E9E9;
$formWidth: 75%;
$formPadding: 12px 20px;
$formMargin: 8px 0;


.connect-container {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.fullscreen-bg {
  position: relative;
  overflow: hidden;
}

.connect-banner {
  position: absolute;;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -262px 0 0 -393px;
}

.connect-block {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 1570px;
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: space-around;;
  align-items: flex-start;;
  background-image: url('./images/map.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  div{
    width: 95%;
    padding: 22px;
  }

  .sub-row {
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  span {

  }
  .icon {
    color: $iconColor;
  }
  h1 {
  color: $gold;
  margin: $margin;
  }
  h2 {
    font-family: 'built-titling';
    color: $gold;
    font-size: 46px;
    font-weight: 100;
    letter-spacing: 7.75px;
  }
  h3 {
    font-family: 'Crimson Text', serif;
    color: $textColor;
    font-size: 32px;
    font-weight: 100;
    margin: 0;
  }
  p {
    font-family: 'Crimson Text', serif;
    color: $textColor;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.882;
    font-style: normal;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-family: 'built-titling';
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2.5px;
    color: $textColor;
    text-transform: uppercase;
  }

  hr {
    width: 30px;
    justify-content: right;
    color: $gold;
  }

  .left {
    width: 475px;
    height: 1570px;
    margin-left:-25px;
    background-color: $cream;
  }
  .right {
    width: 475px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  input {
    width: $formWidth;
    padding: $formPadding;
    margin: $formMargin;
    box-sizing: border-box;
  }
  textarea {
    width: $formWidth;
    height: 150px;
    padding: $formPadding;
    margin: $formMargin
  }
  // button {
  //   width: 100px;
  //   height: 25px;
  //   border-radius: 5px;
  //   background-color: green;
  // }
}
