body{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}
.case-studies-nav-container {
  position: fixed;
  background-color: #89714D;
  top: 3vh;
  left: 3vh;
  height: 8vh;
  width: 8vh;
}
.case-studies-nav {
  position: absolute;
  height: 8vh;
  width: 8vh;
  background-color: #89714D;
}

.case-studies-footer{
  position: absolute;
  width: 100vw;
  height: 5vh;
  margin-top:0;
  background-color: #1f1f1f;
  left: 0;
}

.case-studies-header{
  height: 100vh;
  width: 100vw;
}
 #case-files{
   height: 80vh;
 }







// Table of Contents:
// ~~~~~~~~~~~~~~~~~~~
// 1.) Variables
// 2.) Mixins
// 3.) Base Styles
// 4.) Typography (links)
// 5.) Scaffolding
// 6.) Helpers
// 7.) Grid
// 8.) Components

// 1.) Variables:
// ~~~~~~~~~~~~~~~

/* Containers */
$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px;
$full: 100%;

// Breakpoints
$mobile: $x-small;
$desktop: $medium;

/* Colors */

/* Typography */

/* Components */

// 2.) Mixins:
// ~~~~~~~~~~~~

/* Breakpoints */

// Small breakpoint
@mixin small-breakpoint {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

// Large breakpoint
@mixin large-breakpoint {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// 3.) Base Styles:
// ~~~~~~~~~~~~~~~~~

//Reset Border Box:

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// 4.) Typography:
// ~~~~~~~~~~~~~~~~

/* Font */

// Headings

// Body Font

// Links:
a {
  cursor: pointer;
}

// 5.) Scaffolding:
// ~~~~~~~~~~~~~~~~~

// 6.) Helpers:
// ~~~~~~~~~~~~~

.responsive-img {
  width: 100%;
}

// 7.) Grid:
// ~~~~~~~~~~

// NOTE: Once this is completed and reliable, use this article ( https://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox ) to rewrite it w/out flexbox for all browser support.

//NOTE If you just want evenly sized columns, just keep adding columns in a row.

.container {
  max-width: 70%; //BUG fix this so it's full on small screen. Has to do with % and px.
  margin: 0 auto;
}

.case-studies-main-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.case-studies-main-column {
  flex-basis: 100%;

  //NOTE This style is for testing purposes only. Remove when done. NOTE//

  margin-top: 0;
  background-color: grey;
  border: solid 2px black;
  height: 45vh;
  text-align: center;
  align-items: center;
}

//NOTE For unevenly sized columns, use these

.one-third-column {
  flex-basis: calc(100% / 3);
  //NOTE The below styling is for testing purposes only. Remove when done. NOTE//
  background-color: grey;
  border: solid 2px black;
  height: 100px;
}

.two-thirds-column {
  flex-basis: calc(100% * (2/3));
  //NOTE The below styling is for testing purposes only. Remove when done. NOTE//
  background-color: grey;
  border: solid 2px black;
  height: 100px;
}

.one-quarter-column {
  flex-basis: calc(100% / 4);
  //NOTE The below styling is for testing purposes only. Remove when done. NOTE//
  background-color: grey;
  border: solid 2px black;
  height: 100px;
}

.one-half-column {
  flex-basis: calc(100% / 2);
  //NOTE The below styling is for testing purposes only. Remove when done. NOTE//
  background-color: grey;
  border: solid 2px black;
  height: 100px;
}

.three-quarters-column {
  flex-basis: calc(100% * (3/4));
  //NOTE The below styling is for testing purposes only. Remove when done. NOTE//
  background-color: grey;
  border: solid 2px black;
  height: 100px;
}

// Responsive Grid Media Query:
@media screen and (min-width: 800px) {
  .column,
  .one-third-column,
  .two-thirds-column,
  .one-quarter-column,
  .one-half-column,
  .three-quarters-column {
    flex: 1;
  }
}

// 8.) Components:
// ~~~~~~~~~~~~~~~~

/* Buttons */
