/* capabilities.scss styles */

$gold:#88714D;
$padding:5%;
$margin:5%;
$textColor:#CECECE;
$wide: 100vw;
$high: 100vh;
$offset: 550px;

.position-relative {
  position: relative;
}
.test {
 /* test class to get the parallax function working */
}

.capabilities-container {
  width: 100vw;
  height: 5740px;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  color: white;
  overflow-x: hidden;

}

.capabilities-banner {
  position: absolute;
  top: 0;
  left: 0px;
  height: 100vh;
  min-height: 775px;
  width: 100vw;
  z-index: 200;
  background-repeat: no-repeat;
  background-size: cover;
  video {
    width: 100vw;
    z-index: 200;
  }
}

.capabilities-title-container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -262px;
  margin-left: -612px;
  z-index: 201;
}

.capabilities-main {
  position: absolute;
  top: 775px;
  height: 3600px;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  .sub-row {
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  a {
    text-decoration: none;
    color: $textColor;
  }
  h1 {
    font-family: 'built-titling';
    font-weight: 100;
    font-style: normal;
    font-size: 215px;
    color: $gold;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin: 0;
  }
  p {
    font-family: "Crimson Text", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    line-height: 1.75em;
    letter-spacing: .25px;
    text-align: center;
    padding: 0 10px;
    color: $textColor;
  }
  hr {
    width: 30px;
    background-color: $gold;
    height: 2px;
    margin: 10px 0 15px 0;
    border: none;
  }
  span {
      position: relative;
      font-weight: 100;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1.5;
      top: 0;
  }
  .deliverable {
    font-style: italic;
  }

  .all-caps {
    font-size: 17.5px;
    text-transform: uppercase;
    color: #707070;
  }
  .sub-row {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    position: relative;
    div {
      position: relative;
    }
  }
  .case-study {
    font-family: 'built-titling';
    font-size: 21px;
    letter-spacing: 4.25px;
    color: $textColor;
    width: 290px;
    text-align: right;
    padding-right: 50px;
  }
  .case-study::after {
    content: "";
    border-bottom: 1px dashed #CECECE;
    width: 99px;
    height: 1px;
    position: absolute;
    right: 36px;
    bottom: 64px;
  }
  .launch {
    flex: 1;
    text-align: right;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'built-titling';
    color: $textColor;
    letter-spacing: 5px;
    margin-top: 16px;
    a {
      text-decoration: none;
      color: $textColor;
    }
  }
}

.capabilities-body {
  margin: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .main {
    width: 785px;
    height: 600px;
    position: absolute;
    margin: 0 0 0 -.7%;
    z-index: 190;
    background-color: transparent;
    h2 {
      font-family: 'built-titling';
      font-weight: 300;
      font-size: 80px;
      color: #232424;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 25px;
      margin: 0;
      padding: 20px 10px;
    }
    h3 {
      font-family: 'Crimson Text', serif;
      color: $gold;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      margin: -89px 37px 70px 37px;
      border-top: 2px solid #232424;
      border-bottom: 3px solid #232424;
      padding-top: 3px;
      padding-bottom: 6px;
    }
    hr {
      margin: auto;
    }
    p {
      font-size: 17px;
      padding: 0;
      letter-spacing: 0.025px;
      text-align: center;
    }
  } /*  end of MAIN styling  */


  .strategy {
    width: 600px;
    height: 600px;
    margin-left: 1%;
    position: absolute;
    top: $high * 1.6;
    z-index: 175;
    background: transparent;
    h1{
      text-align: right;
      margin-right: -4%;
    }
    hr {
      margin-left: 570px;
    }
    p {
      text-align: right;
      font-size: 17px;
      line-height: 32px;
      margin: 0;
      padding: 0;
    }
    .all-caps {
      font-size: 17.5px;
      text-transform: uppercase;
      color: #707070;
    }
    .learn-our-process {
      font-family: 'built-titling';
      font-size: 20px;
      letter-spacing: 4.75px;
      width: 250px;
      text-align: right;
    }
    .goldenLine {
      span {
        text-align: right;
        right: -10px;
        top: 0px;
      }
    }
    .learn-our-process::after {
      content: "";
      border-bottom: 1px dashed #CECECE;
      width: 99px;
      height: 1px;
      position: absolute;
      left: 170px;
      bottom: 64px;
    }
    .contact-us {
      width: 317px;
      text-align: right;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'built-titling';
      color: #cecece;
      letter-spacing: 5px;
      margin-top: 16px;
      a {
        text-decoration: none;
        color: $textColor;
      }
    }

    span {
      text-align: right;
    }
    .goldenLine:hover:after {
      margin-top: -0.95em;
      margin-left: -8px;
      text-align: right;
    }
    .goldenLine:hover:after {
      margin-top: -0.95em;
      margin-left: -8px;
      width: 127px;
    }
  }
  /* end of STRATEGY styling */

  .advertising {
    z-index: 155;
    width: 743px;
    height: 600px;
    position: absolute;
    top: $high * 2.6;
    margin-left: -33px;
    p {
      text-align: left;
    }
    span{
      text-align: left;
    }
    .case-study {
      text-align: right;
    }
    .two {
      margin-top: 53px;
    }
    .launch {
      text-align: right;
    }
    .goldenLine {
      span{
        text-align: right;
        right: -10px;
        top: 0px;
      }
    }
    .goldenLine:hover:after {
      margin-top: -0.9em;
      margin-left: -8px;
      width: 100px;
    }
  }
  /* end of ADVERTISING styling */

  .design {
    z-index: 135;
    width: 600px;
    height: 600px;
    position: absolute;
    margin-left: 16px;
    top: $high * 2.9;
    h1 {
      text-align: right;
    }
    hr {
      margin-left: 570px;
    }
    p {
      text-align: right;
    }
    span {
      text-align: right;
    }
    .goldenLine {
      span {
        text-align: right;
        right: -20px;
        top: 10px;
      }
    }
    .goldenLine:hover:after {
      margin-top: -0.95em;
      margin-left: -8px;
      width: 105px;
      top: 0px;
      }
    .goldenLine:hover:after {
      margin-top: -0.9em;
      margin-left: -8px;
      width: 95px;
    }
  }

  /* end of DESIGN styling */

  .interactive {
    z-index: 115;
    width: 719px;
    height: 600px;
    position: absolute;
    margin-left: -33px;
    top: $high * 4;
    h1 {
      text-align: left;
    }
    p {
      text-align: left;
    }
    span{
      text-align: left;
    }
    .case-study {
      text-align: right;
      padding-left: 0;
    }
    .two {
      margin-top: 53px;
    }
    .launch {
      text-align: right;
    }
    .goldenLine {
      span {
        text-align: right;
        right: -20px;
        top: 10px;
      }
    }
    .goldenLine:hover:after {
      margin-top: -0.95em;
        top: 0px;
    }
    .goldenLine:hover:after {
      margin-top: -0.9em;
      margin-left: -8px;
      width: 105px;
    }
  }

  /* end of INTERACTIVE styling */

  .studios {
    z-index: 85;
    width: 725px;
    height: 600px;
    position: absolute;
    margin-left: 33px;
    top: $high * 5.7;
    p {
      text-align: right;
    }
    span {
      text-align: right;
    }
    .goldenLine {
      span {
        text-align: right;
        right: -20px;
        top: 0px;
      }
    }
    .goldenLine:hover:after {
      margin-top: -0.9em;
      margin-left: -8px;
      width: 105px;
    }
  }
}

/* end of STUDIOS styling */


/* background for parralax begins */
.parallax-container {
  position: relative;
  top: 775px;
  width: 100vw;
  height: 5135px;
  overflow: hidden;
}

.slant-left {
  position: absolute;
  width:$wide;
  height: $wide;
  left: 0;
  color: #fff;
  img {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}
.slant-right {
  position: absolute;
  width:$wide;
  height: $wide;
  right: 0px;
  img {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.set-1-right {
  z-index: 180;
  img {
    width: $wide * .9;
    // display: none;
  }
}
.set-1-left {
  z-index: 170;
  img {
    width: $wide * .9;
    // display: none;
  }
}

.set-2-right {
  z-index: 150;
  top: 620px;
  img {
    height: $wide * 1.2;
  }
}
.set-2-left {
  z-index: 160;
  top: 620px;
  img {
    height: $wide * 1.2;
  }
}
.set-3-right {
  z-index: 140;
  top: 1425px;
  img {
    height: $wide * 1.2;
  }
}
.set-3-left {
  z-index: 130;
  top: 1425px;
  img {
    height: $wide * 1.2;
  }
}
.set-4-right {
  z-index: 110;
  top: 2240px;
  img {
    height: $wide * 1.2;
  }
}
.set-4-left {
  z-index: 120;
  top: 2240px;
  img {
    height: $wide * 1.2;
  }
}
.set-5-right {
  z-index: 90;
  top: 3080px;
  img {
    height: $wide * 1.2;
  }
}
.set-5-left {
  z-index: 80;
  top: 3080px;
  img {
    height: $wide * 1.2;
  }
}
.set-6-right {
  z-index: 70;
  top: 3955px;
  img {
    height: $wide * 1.2;
  }
}
.set-6-left {
  z-index: 60;
  top: 3955px;
  img {
    height: $wide * 1.2;
  }
}

.capabilites-footer {
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  height: 55px;
  z-index: 200;
}
